<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
<h1>Список товаров</h1>

<table border=1>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Описание</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.name}">Название</td>
        <td th:text="${product.price}">0</td>
        <td th:text="${product.description}">Описание</td>
    </tr>
    </tbody>
</table>

<br/>
<a th:href="@{/products/add}">Добавить товар</a>
</body>
</html>